@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
.header{
    background-color: black;
    box-shadow: 0 0 10px teal;
}
.header .header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.title{
    color: whitesmoke;
    font-size: 25px;
}
.header .nav__list{
    display: flex;
    align-items: center;
    gap: 0 30px;
    list-style: none;
}
.header .nav__link{
    color: whitesmoke;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.header .nav__link:hover{
    color: teal;
}

